#AUTOTOOLS-FILES
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
config.h.in
configure
depcomp
install-sh
missing
*.deps
*.dirstamp
src/stamp-h1

#PROJECT-FILES
src/config.h
src/resources.cpp
src/frame.cpp
src/demo
src/view/*.cpp
src/www/*.gz
src/resources/*.gz

#VIM-FILES
.*.swp
*.o
